<!-- .portfolio -->
<div id="portfolio" class="content_2">

    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catWeb catGraphic catMotion logo">All</span></li>
            <li><span class="filter" data-filter="catWeb">Web Design</span></li>
            <li><span class="filter" data-filter="catGraphic">Graphic Design</span></li>
            <li><span class="filter" data-filter="catMotion">Motion Graphic</span></li>
            <li><span class="filter" data-filter="logo">Logo</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/12-28-17/0600.jpg" rel="portfolio" title="12-28-17 at 06:00">
                        <img src="images/portfolio/12-28-17/0600.jpg" height = "200" width = "350" alt="12-28-17 at 06:00" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Today</a>
                                <span class="text-category">06:00</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->



            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/12-28-17/0630.jpg" rel="portfolio" title="12-28-17 at 06:30">
                        <img src="images/portfolio/12-28-17/0630.jpg" height = "200" width = "350" alt="12-28-17 at 06:30" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Today</a>
                                <span class="text-category">06:30</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/12-28-17/0800.jpg" rel="portfolio" title="12-28-17 at 08:00">
                        <img src="images/portfolio/12-28-17/0800.jpg" height = "200" width = "350" alt="12-28-17 at 08:00" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Today</a>
                                <span class="text-category">08:00</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/12-28-17/1400.jpg" rel="portfolio" title="12-28-17 at 14:00">
                        <img src="images/portfolio/12-28-17/1400.jpg" height = "200" width = "350" alt="12-28-17 at 14:00" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Today</a>
                                <span class="text-category">14:00</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/12-28-17/1630.jpg" rel="portfolio" title="12-28-17 at 16:30">
                        <img src="images/portfolio/12-28-17/1630.jpg" height = "200" width = "350" alt="12-28-17 at 16:30" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Today</a>
                                <span class="text-category">16:30</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/12-28-17/1700.jpg" rel="portfolio" title="12-28-17 at 17:00">
                        <img src="images/portfolio/12-28-17/1700.jpg" height = "200" width = "350" alt="12-28-17 at 17:00" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Today</a>
                                <span class="text-category">17:00</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/12-28-17/1730.jpg" rel="portfolio" title="12-28-17 at 17:30">
                        <img src="images/portfolio/12-28-17/1730.jpg" height = "200" width = "350" alt="12-28-17 at 17:30" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Today</a>
                                <span class="text-category">17:30</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/12-29-17/0530.jpg" rel="portfolio" title="12-29-17 at 05:30">
                        <img src="images/portfolio/12-29-17/0530.jpg" height = "200" width = "350" alt="12-29-17 at 05:30" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Today</a>
                                <span class="text-category">05:30</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/12-29-17/0600.jpg" rel="portfolio" title="12-29-17 at 06:00">
                        <img src="images/portfolio/12-29-17/0600.jpg" height = "200" width = "350" alt="12-29-17 at 06:00" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Yesterday</a>
                                <span class="text-category">06:00</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/12-29-17/0630.jpg" rel="portfolio" title="12-29-17 at 06:30">
                        <img src="images/portfolio/12-29-17/0630.jpg" height = "200" width = "350" alt="12-29-17 at 06:30" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Yesterday</a>
                                <span class="text-category">06:30</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/12-29-17/0700.jpg" rel="portfolio" title="12-29-17 at 07:00">
                        <img src="images/portfolio/12-29-17/0700.jpg" height = "200" width = "350" alt="12-29-17 at 07:00" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Yesterday</a>
                                <span class="text-category">07:00</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/12-29-17/0730.jpg" rel="portfolio" title="12-29-17 at 07:30">
                        <img src="images/portfolio/12-29-17/0730.jpg" height = "200" width = "350" alt="12-29-17 at 07:30" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Yesterday</a>
                                <span class="text-category">07:30</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->
