<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Driveway status</h1>

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Weather</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .weather -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Current Weather Conditions</span></div>
                <!--<div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>-->
                <br>
                <p>The Yahoo API will automatically update a general description of todays' weather patterns here.</p>
            </div>

        <!-- /.weather -->
        </div>

        <br>
        <br>
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Temperature</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .temperature -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Current Temperature</span></div>
                <!--<div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>-->
                <br>
                <p>The Yahoo API will automatically update the current temperature here.</p>
            </div>
            <!--/.temperature-->

        <br>
        <br>
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">High and Low</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .HighandLow -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Today's High and Low</span></div>
                <!--<div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>-->
                <br>
                <p>The Yahoo API will automatically update the day's high and low temperatures.</p>
            </div>
            <!--/.HighandLow-->

        <br>
        <br>

            <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->


        <br>

    </div>
    <!-- /.resume-left -->
</div>

</div>


</div>
<!-- End .resume -->
