<!-- .data -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Driveway Sensor and Temperature Data</h1>

<div class="row">
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Water Sensor</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .WaterSensor -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Water Sensor Information</span></div>
                <br>
                <p>The sensor will automatically update the water sensor information here..</p>
            </div>
        </div>
            <!-- /.WaterSensor -->
        <br>
        <br>

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Weather</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .weather -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Current Weather Conditions</span></div>
                <br>
                <p>The Yahoo API will automatically update a general description of todays' weather patterns here.</p>
            </div>
        </div>
            <!-- /.weather -->
        <br>
        <br>

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Temperature</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .temperature -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Current Temperature</span></div>
                <br>
                <p>The Yahoo API will automatically update the current temperature here.</p>
            </div>
            <!--/.temperature-->

        <br>
        <br>

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">High and Low</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .HighandLow -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Today's High and Low</span></div>
                <br>
                <p>The Yahoo API will automatically update the day's high and low temperatures.</p>
            </div>
            <!--/.HighandLow-->

        <br>
        <br>
      </div>

            <!-- .download_resume -->
        <!-- <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>-->
        <!-- /.download_resume -->

    </div>
   </div>
  </div>
</div>
<!-- End .data -->
